// MARGIN 4.5
.m-4-5 {
    margin: 2rem !important;
}

.mt-4-5,
.my-4-5 {
    margin-top: 2rem !important;
}

.mr-4-5,
.mx-4-5 {
    margin-right: 2rem !important;
}

.mb-4-5,
.my-4-5 {
    margin-bottom: 2rem !important;
}

.ml-4-5,
.mx-4-5 {
    margin-left: 2rem !important;
}

// HEADING
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Montserrat", sans-serif;
    color: $font-black;
}

//TEXT COLOR
.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-success {
    color: $success !important;
}

.text-warning {
    color: $warning !important;
}

.text-danger {
    color: $danger !important;
}

.text-black {
    color: $font-black;
}

//BADGE
.badge {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.22em;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-transform: none;
}

.badge-primary {
    background-color: $primary;
    color: $font-white;
}

.badge-success {
    background-color: $success;
}

.badge-danger {
    background-color: $danger;
}

// Background color
.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-success {
    background-color: $success !important;
}

.bg-info {
    background-color: $info !important;
}

.bg-warning {
    background-color: $warning !important;
}

.bg-danger {
    background-color: $danger !important;
}

// BORDER RADIUS
.rounded {
    border-radius: 0.5rem !important;
}
.rounded-top {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}

.rounded-right {
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.rounded-bottom {
    border-bottom-right-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.rounded-left {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

// BUTTON
.btn {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400 !important;
    line-height: 1.21em;
    padding: 0.625rem 1rem;
    border-radius: 0.5rem;
    &::hover {
        text-decoration: none;
    }
}

.btn-primary {
    color: $font-white;
    border-color: $primary;
    background-color: $primary;
    box-shadow: none;
    &:hover {
        color: $font-white;
        border-color: $primary;
        background-color: $primary;
    }
}
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 0 0 0 rgba(40, 163, 235, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    border-color: $primary;
    background-color: $primary;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    border-color: rgb(13, 148, 226);
    background-color: rgb(13, 148, 226);
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0 rgba(40, 163, 235, 0.5);
}

.btn-secondary {
    color: $font-white;
    border-color: $secondary;
    background-color: $secondary;
    box-shadow: none;
    &:hover {
        color: $font-white;
        border-color: $secondary;
        background-color: $secondary;
    }
}
.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 0 0 0 rgba(111, 123, 247, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    border-color: $secondary;
    background-color: $secondary;
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    border-color: rgb(70, 85, 252);
    background-color: rgb(70, 85, 252);
}
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0 rgba(111, 123, 247, 0.5);
}

.btn-success {
    color: $font-white;
    border-color: $success;
    background-color: $success;
    box-shadow: none;
    &:hover {
        color: $font-white;
        border-color: $success;
        background-color: $success;
    }
}
.btn-success:focus,
.btn-success.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 0 0 0 rgba(52, 195, 143, 0.5);
}
.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    border-color: $success;
    background-color: $success;
}
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    border-color: rgb(21, 172, 116);
    background-color: rgb(21, 172, 116);
}
.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0 rgba(52, 195, 143, 0.5);
}

.btn-info {
    color: $font-white;
    border-color: transparent;
    background-color: $info;
    box-shadow: none;
    &:hover {
        color: $font-white;
        border-color: $info;
        background-color: $info;
    }
}
.btn-info_transparent {
    color: $font-white;
    border-color: transparent;
    background-color: rgba(178, 222, 248, 0.4);
    box-shadow: none;
    &:hover {
        color: $font-white;
        border-color: $info;
        background-color: $info;
    }
}
.btn-info:focus,
.btn-info.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 0 0 0 rgba(178, 222, 248, 0.5);
}
.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    border-color: $info;
    background-color: $info;
}
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    border-color: rgb(131, 207, 252);
    background-color: rgb(131, 207, 252);
}
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0 rgba(178, 222, 248, 0.5);
}

.btn-warning {
    color: $font-white;
    border-color: $warning;
    background-color: $warning;
    box-shadow: none;
    &:hover {
        color: $font-white;
        border-color: $warning;
        background-color: $warning;
    }
}
.btn-warning:focus,
.btn-warning.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 0 0 0 rgba(241, 180, 76, 0.5);
}
.btn-warning.disabled,
.btn-warning:disabled {
    color: #fff;
    border-color: $warning;
    background-color: $warning;
}
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    border-color: rgb(230, 163, 48);
    background-color: rgb(230, 163, 48);
}
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0 rgba(241, 180, 76, 0.5);
}

.btn-warning_transparent {
    color: $warning;
    border-color: 0;
    background-color: rgba(241, 180, 76, 0.2);
    box-shadow: none;
    &:hover {
        color: $font-white;
        border-color: $warning;
        background-color: $warning;
    }
}

.btn-danger {
    color: $font-white;
    border-color: $danger;
    background-color: $danger;
    box-shadow: none;
    &:hover {
        color: $font-white;
        border-color: $danger;
        background-color: $danger;
    }
}

// ROUNDED BUTTON
.rounded-pill {
    border-radius: 50rem !important;
}

// OUTLINE BUTTONS
.btn-outline-primary {
    color: $primary;
    border-color: $primary;
    border-width: 2px;
    background-color: transparent;
    background-image: none;
    &:hover {
        color: $font-white;
        border-color: $primary;
        background-color: $primary;
        box-shadow: none;
    }
}

.btn-outline-secondary {
    color: $secondary;
    border-color: $secondary;
    border-width: 2px;
    background-color: transparent;
    background-image: none;
    &:hover {
        color: $font-white;
        border-color: $secondary;
        background-color: $secondary;
        box-shadow: none;
    }
}

.btn-outline-success {
    color: $success;
    border-color: $success;
    border-width: 2px;
    background-color: transparent;
    background-image: none;
    &:hover {
        color: $font-white;
        border-color: $success;
        background-color: $success;
        box-shadow: none;
    }
}

.btn-outline-info {
    color: $info;
    border-color: $info;
    border-width: 2px;
    background-color: transparent;
    background-image: none;
    &:hover {
        color: $font-white;
        border-color: $info;
        background-color: $info;
        box-shadow: none;
    }
}

.btn-outline-warning {
    color: $warning;
    border-color: $warning;
    border-width: 2px;
    background-color: transparent;
    background-image: none;
    &:hover {
        color: $font-white;
        border-color: $warning;
        background-color: $warning;
        box-shadow: none;
    }
}

.btn-outline-danger {
    color: $danger;
    border-color: $danger;
    border-width: 2px;
    background-color: transparent;
    background-image: none;
    &:hover {
        color: $font-white;
        border-color: $danger;
        background-color: $danger;
        box-shadow: none;
    }
}

.btn-outline-placeholder {
    color: $placeholder;
    border-color: $placeholder;
    border-width: 2px;
    background-color: transparent;
    background-image: none;
    &:hover {
        color: $font-white;
        border-color: $placeholder;
        background-color: $placeholder;
        box-shadow: none;
    }
}

// BUTTON ICON
.btn-icon {
    border-radius: 0.5rem;
    .btn-inner--icon {
        .iconify {
            font-size: 1rem;
        }
    }
    .btn-inner--text:not(:first-child) {
        margin-left: 0.5em;
    }
}

// BUTTON SIZE
.btn-lg,
.btn-group-lg > .btn {
    font-size: 1.015rem;
    line-height: 1.238rem;
    padding: 0.7rem 0.937rem;
    border-radius: 0.4rem;
}

.btn-sm,
.btn-group-sm > .btn {
    font-size: 0.71125rem;
    line-height: 0.866rem;
    padding: 0.4rem 0.5rem;
    border-radius: 0.2rem;
}

.btn-group {
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconify {
        font-size: 0.9rem;
    }
}

// SPLIT DROPDOWN
// .dropdown-toggle {
//     .iconify {
//         font-size: 10px;
//     }
//     &::after {
//         display: none;
//     }
// }

.dropdown-menu {
    box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.498039);
    border-radius: 2px;
}

// PAGINATION
.page-item {
    .page-link,
    span {
        font-family: "Montserrat", sans-serif;
        font-size: 0.8125rem;
        margin: 0;
        border-radius: 0 !important;
        border: 1px solid #ced4da;
        border-left: 0;
        color: #495057;
        width: 36px;
    }

    &:first-child .page-link {
        border-radius: 0.25rem 0 0 0.25rem !important;
        border-left: 1px solid #ced4da;
        padding-right: 12px;
        padding-left: 12px;
        width: auto;
    }

    &:last-child .page-link {
        border-radius: 0 0.25rem 0.25rem 0 !important;
        padding-right: 12px;
        padding-left: 12px;
        width: auto;
    }
    &.active .page-link {
        box-shadow: none;
    }
}

option {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.21em;
    color: $font-black;
    margin: 10px;
    &:first-child {
        margin-top: 0;
    }
    &[disabled] {
        font-weight: 700;
        margin-left: 5px;
    }
}

// TABLE
.table {
    color: $font-black;
    .thead-light {
        th {
            color: #adb5bd;
            background-color: #f6f9fc;
            border: 0;
        }
    }
    th,
    td {
        vertical-align: baseline;
    }
    .aksi {
        .iconify {
            color: $primary;
            font-size: 1.5rem;
        }
    }
}

// CARD
.card {
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 0.5rem;
}

.shadow {
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1) !important;
}

// FORM
.form-control[readonly] {
    opacity: 1;
    background-color: #ffff;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    @include mixintext(400, 0.875rem, 1.21em, $font-black !important);
    display: block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: $font-black;
    border: 1px solid #c4c4c4;
    box-shadow: none;
    border-radius: 0.5rem;
}

label {
    @include mixintext(500, 1rem, 1.25em, $font-black);
}

select {
    background-image: url("https://api.iconify.design/bx/bx-chevron-down.svg?color=%23041F2F");
    background-position: calc(100% - 16px), calc(100% - 24px);
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

// input type date
.date_picker {
    position: relative;
}

#txtDate {
    background-color: #fff;
    cursor: default;
}

.date_button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $primary;
    width: 48px;
    height: 100%;
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconify {
        font-size: 1.5rem;
        color: #fff;
    }
}
