.loaderScreen-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

#loader {
    display: none;
    margin-top: 10px;
}

ul {
    list-style: none;
}
