@media (min-width: 991.98px) {
    .modal-lg,
    .modal-xl {
        max-width: 630px;
    }
    .g-sidenav-pinned {
        .sidenav#sidenav-main {
            min-width: 288px;
            max-width: 288px;
        }
        .main-content#panel {
            margin-left: 288px;
        }
    }
    select#dataperhalaman {
        max-height: 1.5rem;
    }
}

@media screen and (max-width: 991.98px) {
    header.header {
        max-height: 150px;
        min-height: 150px;
    }

    .page-content {
        margin-top: -150px;
        .padding--big,
        .padding--small,
        .padding--medium {
            padding: 1.5rem 1rem;
        }
    }
}

@media screen and (max-width: 767.98px) {
    html {
        font-size: 14px;
    }

    .page-content {
        #pengumuman {
            .carousel-inner {
                img {
                    min-height: 150px;
                }
            }
        }

        .form-input {
            .form-group {
                padding: 0;
            }
            .form-group:nth-child(odd) {
                padding-left: 0;
                padding-right: 0;
            }
            .form-group:nth-child(even) {
                padding-left: 0;
                padding-right: 0;
                margin-top: 1rem;
            }
        }
        .form_data {
            .form-row {
                .col-md-4.form-group,
                .col-md-6.form-group {
                    &:first-child,
                    &:nth-child(2),
                    &:last-child {
                        padding: 0;
                    }
                }
            }
            .input_penghasilan {
                &::before {
                    left: 1.5rem !important;
                }
            }
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            width: 38px;
        }

        .form-select {
            .form-group:nth-child(odd) {
                padding: 0;
            }
            .form-group:nth-child(even) {
                padding: 0;
            }
        }
    }

    .page-content__keuangan {
        .form-group_nominal {
            .input_field {
                font: 12px Montserrat;
            }
            .input_prefix {
                font-size: 12px;
                bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .page-content {
        #pengumuman {
            .carousel-inner {
                img {
                    min-height: 120px;
                }
            }
        }
    }
}

@media screen and (max-width: 575.98px) {
    html {
        font-size: 12px;
    }

    .page-content {
        .table-responsive {
            .table-body {
                .bordered_sm::after {
                    bottom: -1px;
                    height: 1px;
                }
            }
        }
    }

    .page-content__admin {
        .calendar_content {
            div {
                &.blank {
                    height: 4rem;
                }
            }
        }

        .calendar_weekdays div,
        .calendar_content div {
            height: 4rem;
        }

        .form_rangenilai {
            .grade_nilai {
                & ~ input {
                    margin-right: 0 !important;
                    margin-left: 1.2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 350px) {
    .jadwal_sehari {
        .detail_waktu {
            form {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            label:nth-child(2) {
                margin: 0 1rem;
            }
        }
    }
    .calendar_content {
        div {
            &.blank {
                height: 4rem !important;
            }
        }
    }

    .calendar_weekdays div,
    .calendar_content div {
        height: 4rem !important;
    }
}

@media screen and (max-width: 350px) {
    .calendar_content {
        div.blank {
            height: 3rem !important;
        }
    }

    .calendar_weekdays div,
    .calendar_content div {
        height: 3rem !important;
    }
}
