// COLOR PALETTE
$primary: #556ee6;
$secondary: #74788d;
$success: #34c38f;
$info: #50a5f1;
$warning: #f1b44c;
$danger: #f46a6a;
$dark: #343a40;
$white: #ffffff;

$font-black: #041f2f;
$font-white: #ffffff;
$font-gray: #8898aa;
$font-dark: #062e46;
$placeholder: #adb5bd;

$button-blue: #28a3eb;
$button-info: #b2def8;
