$primary: #28a3eb;
$secondary: #6f7bf7;
$success: #34c38f;
$info: #b2def8;
$warning: #f1b44c;
$danger: #f46a6a;
$dark: #062e46;
$white: #fff;
$placeholder: #adb5bd;

$font-black: #041f2f;
$font-dark: #062e46;
$font-white: #ffffff;
$font-placeholder: #adb5bd;
