@import "./variable";
@import "./mixin";

#akademik_dashboard {
    .card {
        margin-top: 32px;
        .table-header {
            background-color: #d9e5f2;
            th:first-child {
                border-radius: 8px 0 0 0;
            }
            th:last-child {
                border-radius: 0 8px 0 0;
            }
        }
    }
}

#akademik_khsmahasiswa {
    .table-responsive {
        margin-top: 24px;
    }
}
