@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variable";
@import "./mixin";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

@import "./component";

.login_page,
.register_page,
.pmbGenerateVA_page {
    .bg-default {
        background-color: #172b4d !important;
    }

    .bg-secondary {
        background-color: #f7fafc !important;
    }

    .bg-gradient-primary {
        background: linear-gradient(
            90.18deg,
            #b2def8 -4.39%,
            #6f7bf7 132.48%
        ) !important;
    }

    .header-body {
        h1 {
            @include mixintext(600, 1.625rem, 1.22em, $font-white);
            margin-top: 1rem;
        }
        p {
            @include mixintext(600, 0.8125rem, 1.22em, $font-white);
            margin-top: 0.5rem;
        }
    }

    .card {
        border-radius: 4px;
        position: relative;
        .card-body {
            p {
                @include mixintext(500, 0.75rem, 1.25em, #adb5bd);
                margin-bottom: 2rem;
            }
            .form-control::placeholder {
                @include mixintext(500, 0.75rem, 1.22em, #adb5bd);
            }
            .form-group:first-child {
                margin-bottom: 1rem;
            }
            .input-group {
                box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .custom-checkbox .custom-control-label::before {
        border-radius: 0.25rem;
        border: 0;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .custom-control-label {
        @include mixintext(500, 0.75rem !important, 2, #adb5bd);
    }

    .register_account {
        margin-top: 3rem;
        p {
            @include mixintext(600, 0.8125rem, 1.22em, #fff);
        }
        a {
            text-decoration: underline;
        }
    }
}

.login_page {
    .card {
        .card-body {
            padding: 2.5rem 2rem 1.1rem 2rem;
        }
    }
}

.register_page {
    .card {
        max-width: 800px;
        .card-body {
            padding: 2.5rem;
        }
    }
    .card_inner {
        background-color: #fff;
        padding: 2rem;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        h2 {
            @include mixintext(600, 1.125rem, 1.22em, #000);
        }
        hr {
            margin: 1.3rem 0 1.5rem 0;
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    // select {
    //     border: 1px solid #c4c4c4;
    //     border-radius: 8px;
    //     padding-left: 1.5rem;
    //     background-image: url("https://api.iconify.design/bx/bx-chevron-down.svg?color=#041F2F");
    //     background-position: calc(100% - 1.2rem), calc(100% - 24px);
    //     background-repeat: no-repeat;
    //     appearance: none;
    //     -webkit-appearance: none;
    //     -moz-appearance: none;
    //     color: #adb5bd;
    //     option {
    //         color: $font-black;
    //     }
    // }

    // input {
    //     border: 1px solid #c4c4c4;
    //     border-radius: 8px;
    //     padding-left: 1.5rem;
    // }
    // input::placeholder {
    //     @include mixintext(600, 0.75rem, 1.22em, #8d8f91);
    // }

    label {
        @include mixintext(500, 1rem, 1.22em, $font-black);
        span {
            color: $danger;
        }
    }
    .fileUpload-icon {
        font-size: 3rem;
        color: $primary;
    }

    .input-foto-siswa {
        min-height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #c4c4c4;
        border-radius: 0.5rem;
    }
}

.pmbGenerateVA_page {
    .card-body {
        padding: 2.5rem;
    }

    .alert {
        h6 {
            @include mixintext(600, 1.125rem, 1.21em, $success);
        }
    }

    .alert-success {
        border: 0;
        background-color: rgba(52, 195, 143, 0.1);
    }

    .va_aktif {
        label {
            @include mixintext(500, 1rem, 1.21em, #000);
        }
        .field_kode {
            position: relative;
        }
        input:read-only {
            background-color: #fff;
            @include mixintext(400, 1.5rem, 1.21em, #000);
            max-height: 50px;
        }
        button.salin_kode {
            &:hover {
                background-color: rgba(178, 222, 248, 0.2);
                border-color: $primary;
                color: $primary;
            }
        }
        .salin_kode {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 0 0.5rem 0.5rem 0;
            border-left: 1px solid #c4c4c4;
        }
    }

    .informasi_pembayaran {
        ul {
            list-style: none;
        }
        li {
            @include mixintext(400, 0.875rem, 1.5em, $placeholder);
        }
        h6 {
            @include mixintext(600, 0.75rem, 1.5em, #d10429);
        }
    }

    .total_tagihan {
        p {
            @include mixintext(400, 0.75rem, 1.5em, $font-dark);
        }
        h1 {
            @include mixintext(700, 1.375rem, 0.8em, $primary);
        }
    }
}
