@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variable";
@import "./mixin";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f1f9fe;
}

@import "./component";
@import "./loading";

.pointer {
    cursor: pointer;
}

.page-heading {
    @include mixintext(600, 1.125rem, 1.22em, $font-black);
}

.form-row {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    flex-wrap: wrap;
    & > .col,
    & > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.main-content#panel {
    position: relative;
    min-height: 100vh;
}

.sidenav#sidenav-main {
    background-color: #fff;
    padding: 0;
    margin: 0;

    .navbar-brand-img,
    .navbar-brand > img {
        max-width: 150%;
        max-height: auto;
    }

    .navbar-nav {
        margin-top: 10px;

        .nav-item {
            position: relative;
            list-style: none;

            .nav-item-dropdown-content {
                padding-left: 35px;
            }

            div.nav-link {
                .nav-link-text::after {
                    content: url("https://api.iconify.design/bx/bx-chevron-right.svg");
                    margin: auto 0;
                    position: absolute;
                    right: 25px;
                    transition: -webkit-transform 0.5s ease-in-out;
                    -webkit-transition: -webkit-transform 0.5s ease-in-out;
                    transform: rotate(0deg);
                }
                &.open {
                    .nav-link-text::after {
                        transition: -webkit-transform 0.5s ease-in-out;
                        -webkit-transition: -webkit-transform 0.5s ease-in-out;
                        transform: rotate(90deg);
                    }
                }
            }

            .nav-link,
            .nav-link-submenu {
                position: relative;
                cursor: pointer;
                margin: 0 6px;
                padding: 17px;

                &.aktif {
                    background-color: #f6f9fc;
                    margin: 0 6px;
                    border-radius: 0.5rem;
                    .iconify {
                        color: $primary;
                    }
                }

                .iconify {
                    color: $font-black;
                    font-size: 15px;
                }

                .nav-link-text {
                    @include mixintext(500, 0.875rem, 1.22em, $font-black);
                    margin-left: 1.28em;
                }
                .nav-link-dropdown-text {
                    @include mixintext(500, 0.8125rem, 1.22em, $font-black);
                }
            }
        }
    }
}

nav#navbar {
    background-color: #b2def8;
    height: 100px;
    border-bottom: 0.5px solid #f1f9fe;
    #navbarSupportedContent {
        justify-content: space-between;
    }
    h1 {
        @include mixintext(500, 1rem, 1.21em, $font-black);
    }
}

.dropdown-menu {
    border: 0;
    background: #ffffff;
    border-radius: 0.25rem;
    box-shadow: none;
    i.iconify,
    i.iconify-inline {
        font-size: 2rem;
    }
    span {
        @include mixintext(500, 0.875rem, 1.21em, $font-black);
    }
}

.header {
    background-color: #b2def8;
    max-height: 200px;
    min-height: 200px;
}

.page-content {
    position: relative;
    margin-top: -200px;

    .padding--big {
        padding: 1.5rem 1.625rem;
    }
    .padding--medium {
        padding: 1.5rem;
    }
    .padding--small {
        padding: 1.5rem 1rem;
    }
    .page-content__title {
        @include mixintext(500, 1.3125rem, 1.22em, $font-black);
        margin-top: 1.5rem;
    }

    .wordwrap {
        max-width: 250px !important;
        white-space: normal !important;
        overflow-wrap: break-all !important;
    }

    .row.equal-cols {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .row.equal-cols:before,
    .row.equal-cols:after {
        display: block;
    }

    .row.equal-cols > [class*="col-"] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .row.equal-cols > [class*="col-"] > * {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    // ===================== CAROUSEL =====================
    #pengumuman {
        margin-top: 1.5rem;
        border-radius: 1rem;
        .carousel-inner {
            width: 100%;
            border-radius: 1rem;
            img {
                border-radius: 1rem;
                width: 100%;
                position: relative;
                right: 1px;
                top: -1px;
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            width: 70px;
            .iconify {
                font-size: 2.5rem;
                background: rgba(6, 46, 70, 0.25);
                border-radius: 0.25rem;
            }
        }
    }

    // ===================== CHART =====================
    #piechart {
        border-radius: 0.5rem;
        background-color: #fff;
        padding: 1.875rem 1.5625rem;
        .page-heading {
            text-align: center;
            margin-bottom: 1.125rem;
        }

        .data-piechart {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 1.5rem;
        }

        .data-item {
            max-width: 100%;
            canvas {
                max-width: 100%;
            }
        }
    }

    #barchart {
        .page-heading {
            margin-bottom: 1.25rem;
        }
    }

    // ===================== CARD =====================
    .card {
        margin-top: 1.5rem;
        border: 0;
        border-radius: 0.5rem;
    }
    .card_presensi {
        h6 {
            @include mixintext(500, 0.875rem, 1.21em, $placeholder);
        }
        h5 {
            @include mixintext(600, 1rem, 1.21em, $font-black);
        }
    }
    .card-header {
        border-radius: 0.5rem 0.5rem 0 0;
        border: 0;
        h2 {
            @include mixintext(600, 1.125rem, 1.22em, $font-black);
            text-transform: capitalize;
        }

        h3 {
            @include mixintext(500, 1.125rem, 1.22em, $font-black);
            text-transform: capitalize;
        }
    }

    // ===================== BREAK LINE =====================
    hr {
        padding: 0;
        margin: 0;
        height: 1px;
        border: 0;
        border-top: 1px solid rgba(153, 153, 153, 0.5);
    }
    hr.calendar_separator {
        width: 3%;
        height: 1px;
        color: #000;
        background-color: #000;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: calc((1.5em + 1.25rem + 2px) / 2 * -1);
    }

    // ===================== Table =====================
    .table-responsive {
        border-radius: 0 0 0.5rem 0.5rem;
        .table-header {
            background-color: #f6f9fc;
            th {
                border: 0;
                text-transform: uppercase;
                @include mixintext(700, 0.6875rem, 1.18em, #adb5bd);
            }
            th:first-child {
                border-radius: 0.5rem 0 0 0.5rem;
            }
            th:last-child {
                border-radius: 0 0.5rem 0.5rem 0;
            }
        }

        .table-body {
            td {
                @include mixintext(400, 0.8125rem, 1.2em, #041f2f);
                text-transform: capitalize;
                .edit-icon,
                .delete-icon {
                    font-size: 1.5rem;
                    color: $primary;
                    cursor: pointer;
                }
            }
            .iconify,
            .iconify-inline {
                font-size: 1rem;
            }
            .bordered {
                border-bottom: 1px solid rgba(153, 153, 153, 0.5);
            }
            .bordered_sm {
                position: relative;
            }
            .bordered_sm::after {
                content: "";
                background-color: rgba(153, 153, 153, 0.5);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 85%;
                height: 1px;
            }
            span {
                @include mixintext(500, 0.8125rem, 1.2em, $font-black);
            }
            h2 {
                @include mixintext(600, 1rem, 1.22em, $font-black);
                margin: auto 0;
            }
            .status-pending,
            .status-success {
                font-size: 1.25rem;
            }
            .status-rejected {
                color: #f46a6a;
                font-size: 1rem;
            }
            .status-pending {
                color: #f1b44c;
            }
            .status-success {
                color: #34c38f;
            }
            .status_absensi {
                span {
                    @include mixintext(500, 0.875rem, 1.21em, $font-white);
                }
            }
            input[type="text"] {
                @include mixintext(600, 0.8125rem, 1.21em, $font-black);
                width: 50px;
                padding: 0;
                text-align: center;
            }
        }

        .table-body-lg {
            td {
                padding: 1.5rem !important;
            }
            tr:first-child {
                td {
                    padding: 1rem 1.5rem 1.5rem 1.5rem !important;
                }
            }
            tr:last-child {
                td {
                    padding: 1.5rem 1.5rem 1rem 1.5rem !important;
                }
            }
        }

        .table-body-md {
            td {
                padding: 1.2rem !important;
            }
            tr:first-child {
                td {
                    padding: 1rem 1.2rem 1.2rem 1.2rem !important;
                }
            }
            tr:last-child {
                td {
                    padding: 1.2rem 1.2rem 1rem 1.2rem !important;
                }
            }
        }
    }

    .table-information {
        margin-top: 1rem;
        padding: 0 1rem;
        h2 {
            @include mixintext(500, 1rem, 1.22em, $font-black);
        }
        h3 {
            @include mixintext(400, 0.875rem, 1.21em, $font-black);
        }
        .pagination {
            .page-item.active .page-link {
                border-color: $primary;
                background-color: $primary;
                border: 1px solid #999999;
                border-left: 0;
            }
            .page-item.disabled .page-link {
                border-color: #999999;
                background-color: #fff;
            }
            .page-item.disabled[aria-label="Previous"] .page-link {
                border-radius: 0.5rem 0 0 0.5rem !important;
            }
            .page-item.disabled[aria-label="Next"] .page-link {
                border-radius: 0 0.5rem 0.5rem 0 !important;
            }
        }
    }

    .table_dashboardAkademik {
        .table-header {
            background-color: #d9e5f2;
            th:first-child {
                border-radius: 0.5rem 0 0 0;
            }
            th:last-child {
                border-radius: 0 0.5rem 0 0;
            }
        }
    }

    // ===================== FORM =====================
    .form-input {
        background-color: #fff;
        border-radius: 0.5rem;

        .form-group:nth-child(odd) {
            padding-right: 1.5rem;
        }
        .form-group:nth-child(even) {
            padding-left: 1.5rem;
        }
        .form-row:nth-child(2),
        .form-row:nth-child(3),
        .form-row:nth-child(4),
        .form-row:nth-child(5) {
            margin-top: 1rem;
        }
    }

    .form-select {
        .form-row:nth-child(2) {
            margin-top: 1rem;
        }
        .form-group:nth-child(odd) {
            padding-right: 1.5rem;
        }
        .form-group:nth-child(even) {
            padding-left: 1.5rem;
        }
        select {
            padding-left: 1.5rem;
            @include mixintext(400, 0.875rem, 1.21em, $font-black);
        }
    }

    .form_presensiDosen {
        select {
            background-color: rgba(173, 181, 189, 0.2);
            color: $font-placeholder !important;
        }
    }

    .fileUpload-icon {
        font-size: 3rem;
        color: $primary;
    }

    .custom_select {
        position: relative;
        &::after {
            content: "";
            background-image: url("https://api.iconify.design/bx/bx-chevron-down.svg?height=25&color=%23fff");
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 0;
            top: 0;
            pointer-events: none;
            background-color: $primary;
            height: 100%;
            width: 48px;
            border-radius: 0 0.5rem 0.5rem 0;
        }
        select {
            border-radius: 0.5rem;
            padding-left: 0.75rem;
            border-color: #c4c4c4;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            background-image: none;
            &::-ms-expand {
                display: none;
            }
        }
    }

    select#dataperhalaman {
        @include mixintext(400, 0.875rem, 1.21em, $font-black);
        min-width: 65px;
        max-width: 65px;
        border: 1px solid #999999;
        border-radius: 0.5rem;
        padding: 0 12px;
        background-image: url("https://api.iconify.design/bx/bx-chevron-down.svg?color=%23041F2F");
        background-position: calc(100% - 10px), calc(100% - 10px);
        background-repeat: no-repeat;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        box-shadow: none;
        & + label {
            @include mixintext(400, 0.875rem, 1.21em, $font-black);
        }
    }

    select:focus,
    input:focus {
        border-color: $primary;
    }

    select#status {
        option {
            box-shadow: 2px 2px 8px rgba(255, 0, 0, 0.15) !important;
            border: 0 !important;
        }
    }

    .search_form {
        input {
            border-radius: 0.5rem 0px 0px 0.5rem;
            padding: 0.5rem 0.75rem;
            border: 1px solid $primary;
            float: left;

            &::placeholder {
                @include mixintext(400, 0.75rem, 1.21em, $font-placeholder);
            }
        }

        button {
            float: left;
            border-radius: 0px 0.5rem 0.5rem 0px;
            background-color: $primary;
            color: white;
            border: 1px solid $primary;
            border-left: none;
            cursor: pointer;
            &:hover {
                background: #0b7dda;
            }
        }

        .form-control {
            width: 85%;
        }

        .form-control-sm {
            width: 90%;
        }

        .form-control + button {
            height: calc(1.5em + 1.25rem + 2px);
            width: 15%;
        }

        .form-control-sm + button {
            height: calc(0.45em + 1.25rem + 4px);
            width: 10%;
        }

        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }

    .textarea_notresize {
        resize: none;
    }

    input[type="time"] {
        position: relative;
        &::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            color: transparent;
            background: transparent;
        }
        &::-webkit-inner-spin-button {
            z-index: 1;
        }
        &::-webkit-clear-button {
            z-index: 1;
        }
    }

    // ===================== MODAL =====================
    .modal-title {
        @include mixintext(600, 1.25rem, 1.2em, $font-dark);
    }
    span[data-toggle="modal"] {
        cursor: pointer;
    }
    .detail_dokumen {
        width: 100%;
        border: 1px solid #c4c4c4;
        border-radius: 0.5rem;
        padding: 1.5rem;

        .iconify {
            font-size: 1.7rem;
            color: #000;
        }
        .nama_dokumen {
            @include mixintext(400, 1.125rem, 1.2em, $font-black);
        }
        #custom-btn {
            background-color: transparent;
            border: none;
            outline: none;
        }
        & + .jenis_dokumen {
            @include mixintext(400, 1rem, 1.21em, $font-black);
        }
    }
}
