@import "./variable";
@import "./mixin";

.page-content__admin {
    .calendar {
        margin: auto;
    }

    .calendar_header {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            @include mixintext(600, 1.3125rem, 1.22em, $font-black);
        }
        .switch-month {
            border: 0;
            background-color: transparent;
            .iconify {
                font-size: 2rem;
            }
            &:focus {
                outline: 0;
            }
        }
    }

    .calendar_content {
        background: #fff;
        border: 1px solid rgba(153, 153, 153, 1);

        div {
            border: 1px solid rgba(153, 153, 153, 1);
            float: left;
            position: relative;
            z-index: 0;

            &.blank {
                border: 1px solid rgba(153, 153, 153, 1);
                width: calc(100% / 7);
                height: 5rem;
                position: relative;
            }
        }

        div.today {
            color: #fff;

            padding: 0.6rem 0.8rem;
            &:after {
                position: absolute;
                top: 0.3rem;
                left: 0.3rem;
                content: "";
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: #28a3eb;
                z-index: -1;
            }
        }
    }

    .calendar_weekdays {
        @include mixintext(600, 1.125rem, 1.21em, $primary);
        div {
            display: inline-block;
            vertical-align: top;
            height: 40px;
        }
    }

    .calendar_content,
    .calendar_weekdays,
    .calendar_header {
        position: relative;
        overflow: hidden;
    }

    .calendar_weekdays div,
    .calendar_content div {
        width: calc(100% / 7);
        height: 5rem;
        overflow: hidden;
        padding: 0.5rem;
        background-color: transparent;
        @include mixintext(500, 1.125rem, 1.22em, $font-black);
    }

    .detailKalender_header {
        h2 {
            @include mixintext(600, 1.125rem, 1.22em, $font-black);
        }
    }

    ::placeholder {
        @include mixintext(400, 0.875rem, 1.21em, $font-black);
    }
    .modal {
        .modal-header {
            h5 {
                @include mixintext(600, 1.25rem, 1.2em, $warning);
                background: rgba(241, 180, 76, 0.2);
                border-radius: 0.5rem;
                width: 100%;
                padding: 12px;
            }
        }
        .modal-body {
            p {
                @include mixintext(600, 1rem, 1.21em, $font-black);
            }
            h2 {
                @include mixintext(700, 1.375rem, 1.22em, $font-black);
            }
        }
        .modal-footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1.5rem;
            .btn-modal-cancel {
                border: 2px solid $danger;
                color: $danger;
                padding: 10px;
            }
            .btn-modal-cancel:hover {
                background-color: $danger;
                color: $white;
            }
            .btn-modal-ok:hover {
                background-color: $white;
                border: 2px solid $primary;
                color: $primary;
                padding: 10px;
            }
        }
    }

    .form_rangenilai {
        span {
            @include mixintext(500, 1.125rem, 1.22em, $font-black);
        }
        .grade_nilai {
            @include mixintext(600, 1.125rem, 1.22em, $font-white);
            min-width: 3rem;
            max-width: 3.125rem;
            height: 100%;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    #nama_dosen {
        text-align: center;
        text-align-last: center;
        -moz-text-align-last: center;
        option {
            text-align: center;
        }
    }
}

#admin_masterdatadosenpengampu {
    .table-body {
        td {
            padding: 2rem 1.5rem;
        }
    }
}

#admin_masterdatahariaktif {
    .customSelect-wrapper {
        position: relative;
        display: inline-block;
        user-select: none;
        width: 100%;
        & select {
            display: none;
        }
    }

    .customSelect {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .customSelect-trigger {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        color: #000;
        padding: 0.5rem 0.75rem;

        background-color: #fff;
        position: relative;
        display: block;
        border-radius: 0.25rem;
        cursor: pointer;
        border: 1px solid #999;
        &:after {
            content: "";
            background-image: url("https://api.iconify.design/bx/bx-chevron-down.svg?color=%23000");
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            display: block;
            pointer-events: none;
            width: 10px;
            height: 10px;
            top: 50%;
            right: 0.75rem;
            transform: translateY(-50%);
        }
    }

    .custom-options {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        border: 1px solid rgba(153, 153, 153, 0.2);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        border-radius: 0.25rem 0.25rem 0.5rem 0.5rem;
    }

    .customSelect.opened .custom-options {
        position: relative;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .custom-option {
        position: relative;
        display: block;
        padding: 0.5rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #000;
        cursor: pointer;
        &:hover {
            background: rgba(40, 163, 235, 0.5);
        }
        &.selection {
            background: rgba(40, 163, 235, 0.5);
        }
    }

    .selecton {
        border-color: $primary;
    }
}
