.page-content__admin h1 {
  font-weight: 600;
  font-size: 1.3125rem;
  line-height: 1.22em;
  color: #041f2f;
}
.page-content__admin .form-group.focused .input-group-prepend .input-group-text {
  border-color: #28a3eb;
}
.page-content__admin .input-group-prepend .input-group-text {
  border-color: #c4c4c4;
  border-radius: 0.5rem 0 0 0.5rem;
  font-weight: 500;
  font-size: 0.875rem !important;
  line-height: 1.21em;
  color: #041f2f;
  padding-left: 1.5rem;
}
.page-content__admin .input-group-prepend + input {
  border-left: 0;
}
.page-content__admin .calendar {
  margin: auto;
}
.page-content__admin .calendar_content,
.page-content__admin .calendar_weekdays,
.page-content__admin .calendar_header {
  position: relative;
  overflow: hidden;
}
.page-content__admin .calendar_weekdays div,
.page-content__admin .calendar_content div {
  width: calc(100% / 7);
  overflow: hidden;
  padding: 0.5rem;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.22em;
  color: #041f2f;
}
.page-content__admin .calendar_header {
  width: 100%;
  text-align: center;
}
.page-content__admin .calendar_header h2 {
  font-weight: 600;
  font-size: 1.3125rem;
  line-height: 1.22em;
  color: #041f2f;
}
.page-content__admin .calendar_header .switch-month {
  border: 0;
  outline: 0;
  background-color: transparent;
}
.page-content__admin .calendar_header .switch-month .iconify {
  font-size: 2rem;
}
.page-content__admin .calendar_content {
  border: 1px solid #999999;
}
.page-content__admin .calendar_content div {
  border: 1px solid #999999;
  float: left;
  position: relative;
  z-index: 0;
  height: 5rem;
}
.page-content__admin .calendar_content div.blank {
  border: 1px solid #999999;
  width: calc(100% / 7);
  height: 5rem;
  position: relative;
}
.page-content__admin .calendar_content div.today {
  color: #fff;
}
.page-content__admin .calendar_content div.today:after {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  content: "";
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: #28a3eb;
  z-index: -1;
}
.page-content__admin .calendar_content div.libur {
  color: #f46a6a;
}
.page-content__admin .calendar_weekdays {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.21em;
  color: #28a3eb;
}
.page-content__admin .calendar_weekdays div {
  display: inline-block;
}
.page-content__admin h2.aside_title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5em;
  color: #041f2f;
}
.page-content__admin .uploadSuratKeputusan {
  border: 1px solid #c4c4c4;
}
.page-content__admin .uploadSuratKeputusan .iconify {
  font-size: 1.5rem;
  color: #000;
}
.page-content__admin #custom-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.page-content__admin .nama_dokumen {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.22em;
  color: #041f2f;
}
.page-content__admin ::-moz-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content__admin :-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content__admin ::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content__admin .customSelect {
  position: relative;
  display: inline-block;
  width: 100%;
}
.page-content__admin .customSelect-wrapper {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}
.page-content__admin .customSelect-wrapper select {
  display: none;
}
.page-content__admin .customSelect-trigger {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #000;
  padding: 0.5rem 0.75rem;
  position: relative;
  display: block;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid #999;
}
.page-content__admin .customSelect-trigger:after {
  content: "";
  background-image: url("https://api.iconify.design/bx/bx-chevron-down.svg?color=%23000");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  display: block;
  pointer-events: none;
  width: 10px;
  height: 10px;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}
.page-content__admin .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid rgba(153, 153, 153, 0.2);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  border-radius: 0.25rem 0.25rem 0.5rem 0.5rem;
}
.page-content__admin .customSelect.opened .custom-options {
  position: relative;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.page-content__admin .custom-option {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #000;
  position: relative;
  display: block;
  padding: 0.5rem;
  cursor: pointer;
}
.page-content__admin .custom-option:hover {
  background: rgba(40, 163, 235, 0.5);
}
.page-content__admin .custom-option.selection {
  background: rgba(40, 163, 235, 0.5);
}
.page-content__admin .selecton {
  border-color: #28a3eb;
}
.page-content__admin .modal .modal-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2em;
  color: #f1b44c;
  background: rgba(241, 180, 76, 0.2);
  border-radius: 0.5rem;
  width: 100%;
  padding: 12px;
}
.page-content__admin .modal .modal-body p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content__admin .modal .modal-body h2 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.22em;
  color: #041f2f;
}
.page-content__admin .modal .modal-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.page-content__admin .modal .modal-footer .btn {
  font-weight: 600 !important;
  border-radius: 0.25rem;
}
.page-content__admin .form_rangenilai label {
  margin-bottom: 0;
  margin-right: 1.5rem;
  margin-left: 0.25rem;
}
.page-content__admin .form_rangenilai .grade_nilai {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.22em;
  color: #ffffff;
  min-width: 3rem;
  max-width: 3.125rem;
  height: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}
.page-content__admin .form_rangenilai .grade_nilai ~ input {
  margin-right: 1.25rem;
}
.page-content__admin .jadwal_sehari .jumlah_sesi select {
  width: 55px;
  background-position: calc(100% - 8px), calc(100% - 24px);
  padding: 0.5rem;
}
.page-content__admin .jalurPMB_pendaftaran p {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.22em;
  color: #041f2f;
  margin-bottom: 0;
}
.page-content__admin .jalurPMB_pendaftaran .date-input {
  padding-left: 1rem;
}
.page-content__admin .jalurPMB_pendaftaran .biaya_pendaftaran {
  position: relative;
}
.page-content__admin .jalurPMB_pendaftaran .biaya_pendaftaran::after {
  content: "Rp.";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.22em;
  color: #041f2f;
  position: absolute;
  left: 1.5rem;
  bottom: calc((1.5em + 1.25rem + 2px) / 3);
}
