.informasi_mahasiswa {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
}
.informasi_mahasiswa p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.21em;
  color: #041f2f;
}

.va_aktif label {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.21em;
  color: #000;
}
.va_aktif .field_kode {
  position: relative;
}
.va_aktif input:-moz-read-only {
  background-color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.21em;
  color: #000;
  max-height: 50px;
}
.va_aktif input:read-only {
  background-color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.21em;
  color: #000;
  max-height: 50px;
}
.va_aktif button.salin_kode:hover {
  background-color: rgba(178, 222, 248, 0.2);
  border-color: #28a3eb;
  color: #28a3eb;
}
.va_aktif .salin_kode {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 1px solid #c4c4c4;
}

.rincian_pembayaran label {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.21em;
  color: #000;
}
.rincian_pembayaran input[type=text] {
  background-color: rgba(173, 181, 189, 0.2);
  color: #adb5bd;
}

.informasi_pembayaran ul {
  list-style: none;
}
.informasi_pembayaran li {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #adb5bd;
}
.informasi_pembayaran h6 {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5em;
  color: #d10429;
}

#form_cuti .form-cuti ::-moz-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}

#form_cuti .form-cuti :-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}

#form_cuti .form-cuti ::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}

#tahapan h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.22em;
  color: #041f2f;
}
#tahapan button {
  border-radius: 0.25rem;
}
#tahapan .input-group .input-group-text {
  font-size: 1.125rem;
  color: #041f2f;
  background-color: #c4c4c4;
  padding-left: 1.167em;
  padding-right: 1.167em;
  border-radius: 8px 0 0 8px;
  border: 1px solid #c4c4c4;
  border-right: 0;
}
#tahapan .input-group .form-control {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
  background-color: #fff;
  border: 2px solid #c4c4c4;
  border-left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}
#tahapan .input-group.active .input-group-text {
  background-color: #f0f8fe;
  border: 1px solid #28a3eb;
  color: #28a3eb;
  font-weight: 600;
}
#tahapan .input-group.active .form-control {
  border: 2px solid #28a3eb;
  background-color: #28a3eb;
  color: #ffffff !important;
}
#tahapan .tab-body > div {
  display: none;
}
#tahapan .tab-body > div.active {
  display: block;
}
#tahapan .card-form .form-group:first-child {
  padding-right: 1.5rem;
}
#tahapan .card-form .form-group:nth-child(2) {
  padding: 0 1.5rem;
}
#tahapan .card-form .form-group:last-child {
  padding-left: 1.5rem;
}
#tahapan .card-form ::-moz-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
#tahapan .card-form :-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
#tahapan .card-form ::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
#tahapan .card_step {
  position: relative;
}
#tahapan .card_step input {
  height: 49px;
}
#tahapan .card_step hr {
  position: relative;
  top: 1.5rem;
}
#tahapan .form-berkas input {
  display: none;
}
#tahapan .form-berkas .input_file {
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  border-radius: 0.5rem;
}
#tahapan .form-berkas p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #f46a6a;
  font-style: italic;
}
#tahapan .form_action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
#tahapan .form_action .button_sebelumnya {
  background-color: #b2def8;
  color: #28a3eb;
}

#daftar_ulang .modal-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.21em;
  color: #062e46;
}
#daftar_ulang .modal-body .input_file {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  border-radius: 0.5rem;
}
#daftar_ulang .modal-body .iconify {
  font-size: 2rem;
  color: #28a3eb;
}
#daftar_ulang .modal-body i {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.21em;
  color: #062e46;
}
#daftar_ulang .modal-footer button {
  border-radius: 0.25rem;
}
