@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f9fe;
}

.m-4-5 {
  margin: 2rem !important;
}

.mt-4-5,
.my-4-5 {
  margin-top: 2rem !important;
}

.mr-4-5,
.mx-4-5 {
  margin-right: 2rem !important;
}

.mb-4-5,
.my-4-5 {
  margin-bottom: 2rem !important;
}

.ml-4-5,
.mx-4-5 {
  margin-left: 2rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", sans-serif;
  color: #041f2f;
}

.text-primary {
  color: #28a3eb !important;
}

.text-secondary {
  color: #6f7bf7 !important;
}

.text-success {
  color: #34c38f !important;
}

.text-warning {
  color: #f1b44c !important;
}

.text-danger {
  color: #f46a6a !important;
}

.badge {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.badge-success {
  background-color: #34c38f;
}

.badge-danger {
  background-color: #f46a6a;
}

.bg-primary {
  background-color: #28a3eb !important;
}

.bg-secondary {
  background-color: #6f7bf7 !important;
}

.bg-success {
  background-color: #34c38f !important;
}

.bg-info {
  background-color: #b2def8 !important;
}

.bg-warning {
  background-color: #f1b44c !important;
}

.bg-danger {
  background-color: #f46a6a !important;
}

.rounded {
  border-radius: 0.5rem !important;
}

.rounded-top {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.rounded-right {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-left {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400 !important;
  line-height: 1.21em;
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
}
.btn::hover {
  text-decoration: none;
  color: #ffffff;
}

.btn-primary {
  color: #ffffff;
  border-color: #28a3eb;
  background-color: #28a3eb;
  box-shadow: none;
}
.btn-primary:hover {
  color: #ffffff;
  border-color: #28a3eb;
  background-color: #28a3eb;
}

.btn-secondary {
  color: #ffffff;
  border-color: #6f7bf7;
  background-color: #6f7bf7;
  box-shadow: none;
}
.btn-secondary:hover {
  color: #ffffff;
  border-color: #6f7bf7;
  background-color: #6f7bf7;
}

.btn-success {
  color: #ffffff;
  border-color: #34c38f;
  background-color: #34c38f;
  box-shadow: none;
}
.btn-success:hover {
  color: #ffffff;
  border-color: #34c38f;
  background-color: #34c38f;
}

.btn-info {
  color: #ffffff;
  border-color: #b2def8;
  background-color: #b2def8;
  box-shadow: none;
}
.btn-info:hover {
  color: #ffffff;
  border-color: #b2def8;
  background-color: #b2def8;
}

.btn-warning {
  color: #ffffff;
  border-color: #f1b44c;
  background-color: #f1b44c;
  box-shadow: none;
}
.btn-warning:hover {
  color: #ffffff;
  border-color: #f1b44c;
  background-color: #f1b44c;
}

.btn-danger {
  color: #ffffff;
  border-color: #f46a6a;
  background-color: #f46a6a;
  box-shadow: none;
}
.btn-danger:hover {
  color: #ffffff;
  border-color: #f46a6a;
  background-color: #f46a6a;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.btn-outline-primary {
  color: #ffffff;
  border-color: #28a3eb;
  background-color: transparent;
  background-image: none;
}
.btn-outline-primary:hover {
  color: #ffffff;
  border-color: #28a3eb;
  background-color: #28a3eb;
  box-shadow: none;
}

.btn-outline-secondary {
  color: #ffffff;
  border-color: #6f7bf7;
  background-color: transparent;
  background-image: none;
}
.btn-outline-secondary:hover {
  color: #ffffff;
  border-color: #6f7bf7;
  background-color: #6f7bf7;
  box-shadow: none;
}

.btn-outline-success {
  color: #ffffff;
  border-color: #34c38f;
  background-color: transparent;
  background-image: none;
}
.btn-outline-success:hover {
  color: #ffffff;
  border-color: #34c38f;
  background-color: #34c38f;
  box-shadow: none;
}

.btn-outline-info {
  color: #ffffff;
  border-color: #b2def8;
  background-color: transparent;
  background-image: none;
}
.btn-outline-info:hover {
  color: #ffffff;
  border-color: #b2def8;
  background-color: #b2def8;
  box-shadow: none;
}

.btn-outline-warning {
  color: #ffffff;
  border-color: #f1b44c;
  background-color: transparent;
  background-image: none;
}
.btn-outline-warning:hover {
  color: #ffffff;
  border-color: #f1b44c;
  background-color: #f1b44c;
  box-shadow: none;
}

.btn-outline-danger {
  color: #ffffff;
  border-color: #f46a6a;
  background-color: transparent;
  background-image: none;
}
.btn-outline-danger:hover {
  color: #ffffff;
  border-color: #f46a6a;
  background-color: #f46a6a;
  box-shadow: none;
}

.btn-icon {
  border-radius: 0.5rem;
}
.btn-icon .btn-inner--icon .iconify {
  font-size: 1rem;
}
.btn-icon .btn-inner--text:not(:first-child) {
  margin-left: 0.5em;
}

.btn-lg,
.btn-group-lg > .btn {
  font-size: 1.015rem;
  line-height: 1.238rem;
  padding: 0.7rem 0.937rem;
  border-radius: 0.4rem;
}

.btn-sm,
.btn-group-sm > .btn {
  font-size: 0.71125rem;
  line-height: 0.866rem;
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
}

.btn-group .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-group .iconify {
  font-size: 0.9rem;
}

.dropdown-toggle .iconify {
  font-size: 10px;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.498039);
  border-radius: 2px;
}

.page-item .page-link,
.page-item span {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  margin: 0;
  border-radius: 0 !important;
  border: 1px solid #ced4da;
  border-left: 0;
  color: #495057;
  width: 36px;
}
.page-item:first-child .page-link {
  border-radius: 0.25rem 0 0 0.25rem !important;
  border-left: 1px solid #ced4da;
  padding-right: 12px;
  padding-left: 12px;
  width: auto;
}
.page-item:last-child .page-link {
  border-radius: 0 0.25rem 0.25rem 0 !important;
  padding-right: 12px;
  padding-left: 12px;
  width: auto;
}
.page-item.active .page-link {
  box-shadow: none;
}

option {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.21em;
  color: #041f2f;
  margin: 10px;
}
option:first-child {
  margin-top: 0;
}
option[disabled] {
  font-weight: 700;
  margin-left: 5px;
}

.table {
  color: #041f2f;
}
.table .thead-light th {
  color: #adb5bd;
  background-color: #f6f9fc;
  border: 0;
}
.table th,
.table td {
  vertical-align: baseline;
}
.table .aksi .iconify {
  color: #28a3eb;
  font-size: 1.5rem;
}

.card {
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1) !important;
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f !important;
  display: block;
  padding-left: 1.5rem;
  color: #041f2f;
  border: 1px solid #c4c4c4;
  box-shadow: none;
  border-radius: 0.5rem;
}

label {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25em;
  color: #041f2f;
}

select {
  background-image: url("https://api.iconify.design/bx/bx-chevron-down.svg?color=%23041F2F");
  background-position: calc(100% - 16px), calc(100% - 24px);
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.date_picker {
  position: relative;
}

#txtDate {
  background-color: #fff;
  cursor: default;
}

.date_button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #28a3eb;
  width: 48px;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date_button .iconify {
  font-size: 1.5rem;
  color: #fff;
}

.loaderScreen-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

#loader {
  display: none;
  margin-top: 10px;
}

ul {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

.page-heading {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.22em;
  color: #041f2f;
}

.form-row {
  display: flex;
  margin-right: 0;
  margin-left: 0;
  flex-wrap: wrap;
}
.form-row > .col, .form-row > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.main-content#panel {
  position: relative;
  min-height: 100vh;
}

.sidenav#sidenav-main {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
.sidenav#sidenav-main .navbar-brand-img,
.sidenav#sidenav-main .navbar-brand > img {
  max-width: 150%;
  max-height: auto;
}
.sidenav#sidenav-main .navbar-nav {
  margin-top: 10px;
}
.sidenav#sidenav-main .navbar-nav .nav-item {
  position: relative;
  list-style: none;
}
.sidenav#sidenav-main .navbar-nav .nav-item .nav-item-dropdown-content {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding-left: 35px;
}
.sidenav#sidenav-main .navbar-nav .nav-item.showsubmenu .nav-item-dropdown-content {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}
.sidenav#sidenav-main .navbar-nav .nav-item.showsubmenu .nav-link .arrow {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transform: rotate(90deg);
}
.sidenav#sidenav-main .navbar-nav .nav-item .nav-link {
  position: relative;
  margin: 0 6px;
  padding: 17px;
}
.sidenav#sidenav-main .navbar-nav .nav-item .nav-link.aktif {
  background-color: #f6f9fc;
  margin: 0 6px;
  border-radius: 0.5rem;
}
.sidenav#sidenav-main .navbar-nav .nav-item .nav-link.aktif .iconify {
  color: #28a3eb;
}
.sidenav#sidenav-main .navbar-nav .nav-item .nav-link .iconify {
  color: #041f2f;
  font-size: 15px;
}
.sidenav#sidenav-main .navbar-nav .nav-item .nav-link .nav-link-text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.22em;
  color: #041f2f;
  margin-left: 1.28em;
}
.sidenav#sidenav-main .navbar-nav .nav-item .nav-link .arrow {
  position: absolute;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transform: rotate(0deg);
}

nav#navbar {
  background-color: #b2def8;
  height: 100px;
  border-bottom: 0.5px solid #f1f9fe;
}
nav#navbar #navbarSupportedContent {
  justify-content: space-between;
}
nav#navbar h1 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.21em;
  color: #041f2f;
}

.dropdown-menu {
  border: 0;
  background: #ffffff;
  border-radius: 0.25rem;
  box-shadow: none;
}
.dropdown-menu span.iconify {
  font-size: 2rem;
}
.dropdown-menu span {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}

.header {
  background-color: #b2def8;
  max-height: 200px;
  min-height: 200px;
}

.page-content {
  position: relative;
  margin-top: -200px;
}
.page-content .padding--big {
  padding: 1.5rem 1.625rem;
}
.page-content .padding--medium {
  padding: 1.5rem;
}
.page-content .padding--small {
  padding: 1.5rem 1rem;
}
.page-content .page-content__title {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.22em;
  color: #041f2f;
  margin-top: 1.5rem;
}
.page-content .wordwrap {
  max-width: 250px !important;
  white-space: normal !important;
  overflow-wrap: break-all !important;
}
.page-content #pengumuman {
  margin-top: 1.5rem;
  border-radius: 1rem;
}
.page-content #pengumuman .carousel-inner {
  width: 100%;
  border-radius: 1rem;
}
.page-content #pengumuman .carousel-inner img {
  border-radius: 1rem;
  width: 100%;
  position: relative;
  right: 1px;
  top: -1px;
}
.page-content #pengumuman .carousel-control-prev,
.page-content #pengumuman .carousel-control-next {
  width: 70px;
}
.page-content #pengumuman .carousel-control-prev .iconify,
.page-content #pengumuman .carousel-control-next .iconify {
  font-size: 2.5rem;
  background: rgba(6, 46, 70, 0.25);
  border-radius: 0.25rem;
}
.page-content #piechart {
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 1.875rem 1.5625rem;
}
.page-content #piechart .page-heading {
  text-align: center;
  margin-bottom: 1.125rem;
}
.page-content #piechart .data-piechart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
}
.page-content #piechart .data-item {
  max-width: 100%;
}
.page-content #piechart .data-item canvas {
  max-width: 100%;
}
.page-content #barchart .page-heading {
  margin-bottom: 1.25rem;
}
.page-content .card {
  margin-top: 1.5rem;
  border: 0;
  border-radius: 0.5rem;
}
.page-content .fileUpload-icon {
  font-size: 3rem;
  color: #28a3eb;
}
.page-content hr {
  padding: 0;
  margin: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(153, 153, 153, 0.5);
}
.page-content .card-header {
  border-radius: 0.5rem 0.5rem 0 0;
}
.page-content .card-header h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.22em;
  color: #041f2f;
  text-transform: capitalize;
}
.page-content .card-header h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.22em;
  color: #041f2f;
  text-transform: capitalize;
}
.page-content select#dataperhalaman {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
  min-width: 65px;
  max-width: 65px;
  max-height: 25px;
  border: 1px solid #999999;
  border-radius: 0.5rem;
  padding: 0 12px;
  background-image: url("https://api.iconify.design/bx/bx-chevron-down.svg?color=%23041F2F");
  background-position: calc(100% - 10px), calc(100% - 10px);
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
}
.page-content select#dataperhalaman + label {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content .search-icon {
  background-color: #28a3eb;
  border: 0;
  max-height: 35px;
  color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
}
.page-content input[type=search] {
  border: 1px solid #28a3eb;
  border-right: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0 0.75rem;
  max-height: 35px;
}
.page-content input[type=search]::-moz-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content input[type=search]:-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content input[type=search]::placeholder {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content .table-responsive {
  border-radius: 0 0 0.5rem 0.5rem;
}
.page-content .table-responsive .table-header {
  background-color: #f6f9fc;
}
.page-content .table-responsive .table-header th {
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.18em;
  color: #adb5bd;
}
.page-content .table-responsive .table-header th:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.page-content .table-responsive .table-header th:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.page-content .table-responsive .table-body td {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.2em;
  color: #041f2f;
  text-transform: capitalize;
}
.page-content .table-responsive .table-body td .edit-icon,
.page-content .table-responsive .table-body td .delete-icon {
  font-size: 1.5rem;
  color: #28a3eb;
  cursor: pointer;
}
.page-content .table-responsive .table-body tr.bordered {
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}
.page-content .table-responsive .table-body img,
.page-content .table-responsive .table-body .iconify {
  margin-right: 8px;
  font-size: 16px;
}
.page-content .table-responsive .table-body span {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.2em;
  color: #041f2f;
}
.page-content .table-responsive .table-body h2 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.22em;
  color: #041f2f;
  margin: auto 0;
}
.page-content .table-responsive .table-body .status-pending,
.page-content .table-responsive .table-body .status-success {
  font-size: 1.25rem;
}
.page-content .table-responsive .table-body .status-rejected {
  color: #f46a6a;
  font-size: 1rem;
}
.page-content .table-responsive .table-body .status-pending {
  color: #f1b44c;
}
.page-content .table-responsive .table-body .status-success {
  color: #34c38f;
}
.page-content .table-responsive .table-body .status_absensi span {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #ffffff;
}
.page-content .table-responsive .table-body input[type=text] {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.21em;
  color: #041f2f;
  width: 50px;
  padding: 0;
  text-align: center;
}
.page-content .table-responsive .table-body input[type=text]:focus {
  border-color: #28a3eb;
}
.page-content .table-information {
  margin-top: 1rem;
  padding: 0 1rem;
}
.page-content .table-information h2 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.22em;
  color: #041f2f;
}
.page-content .table-information h3 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content .table-information .pagination .page-item.active .page-link {
  border-color: #28a3eb;
  background-color: #28a3eb;
  border: 1px solid #999999;
  border-left: 0;
}
.page-content .table-information .pagination .page-item.disabled .page-link {
  border-color: #999999;
  background-color: #fff;
}
.page-content .table-information .pagination .page-item.disabled[aria-label=Previous] .page-link {
  border-radius: 0.5rem 0 0 0.5rem !important;
}
.page-content .table-information .pagination .page-item.disabled[aria-label=Next] .page-link {
  border-radius: 0 0.5rem 0.5rem 0 !important;
}
.page-content .form-input {
  background-color: #fff;
  border-radius: 0.5rem;
}
.page-content .form-input .form-group:nth-child(odd) {
  padding-right: 1.5rem;
}
.page-content .form-input .form-group:nth-child(even) {
  padding-left: 1.5rem;
}
.page-content .form-input .form-row:nth-child(2),
.page-content .form-input .form-row:nth-child(3),
.page-content .form-input .form-row:nth-child(4),
.page-content .form-input .form-row:nth-child(5) {
  margin-top: 1rem;
}
.page-content .form-select .form-row:nth-child(2) {
  margin-top: 1rem;
}
.page-content .form-select .form-group:nth-child(odd) {
  padding-right: 1.5rem;
}
.page-content .form-select .form-group:nth-child(even) {
  padding-left: 1.5rem;
}
.page-content .form-select select {
  padding-left: 1.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content .custom_select {
  position: relative;
}
.page-content .custom_select::after {
  content: "";
  background-image: url("https://api.iconify.design/bx/bx-chevron-down.svg?height=25&color=%23fff");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  background-color: #28a3eb;
  height: 100%;
  width: 48px;
  border-radius: 0 0.5rem 0.5rem 0;
}
.page-content .custom_select select {
  border-color: #c4c4c4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background-image: none;
}
.page-content .custom_select select::-ms-expand {
  display: none;
}
.page-content .card_presensi h6 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #adb5bd;
}
.page-content .card_presensi h5 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.21em;
  color: #041f2f;
}

#dashboard_mala .table-body td,
#daftar_ulang .table-body td,
#mala_presensi .table-body td,
#mala_nilai .table-body td,
#dashboard_dosen .table-body td {
  padding: 1.5rem 1.5rem;
}
#dashboard_mala .table-body tr:first-child td,
#dashboard_mala .table-body tr:last-child td,
#daftar_ulang .table-body tr:first-child td,
#daftar_ulang .table-body tr:last-child td,
#mala_presensi .table-body tr:first-child td,
#mala_presensi .table-body tr:last-child td,
#mala_nilai .table-body tr:first-child td,
#mala_nilai .table-body tr:last-child td,
#dashboard_dosen .table-body tr:first-child td,
#dashboard_dosen .table-body tr:last-child td {
  padding: 1rem 1.5rem;
}

#akademik_dashboard .table-header {
  background-color: #d9e5f2;
}
#akademik_dashboard .table-header th:first-child {
  border-radius: 0.5rem 0 0 0;
}
#akademik_dashboard .table-header th:last-child {
  border-radius: 0 0.5rem 0 0;
}
