.page-content__prodi ::-moz-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content__prodi :-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content__prodi ::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content__prodi#tambah_data select, .page-content__prodi#update_data select {
  border: 1px solid #c4c4c4;
  padding-left: 1.5rem;
}
.page-content__prodi#tambah_data .tambahData-btn,
.page-content__prodi#tambah_data .simpanData-btn, .page-content__prodi#update_data .tambahData-btn,
.page-content__prodi#update_data .simpanData-btn {
  border-radius: 4px;
  margin-top: 24px;
}
.page-content__prodi .modal .modal-header h5 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2em;
  color: #f1b44c;
  background: rgba(241, 180, 76, 0.2);
  border-radius: 8px;
  width: 100%;
  padding: 12px;
}
.page-content__prodi .modal .modal-body p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.21em;
  color: #041f2f;
}
.page-content__prodi .modal .modal-body h2 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.22em;
  color: #041f2f;
}
.page-content__prodi .modal .modal-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.page-content__prodi .modal .modal-footer .btn-modal-cancel {
  border: 2px solid #f46a6a;
  color: #f46a6a;
  padding: 10px;
}
.page-content__prodi .modal .modal-footer .btn-modal-cancel:hover {
  background-color: #f46a6a;
  color: #ffffff;
}
.page-content__prodi .modal .modal-footer .btn-modal-ok:hover {
  background-color: #ffffff;
  border: 2px solid #556ee6;
  color: #556ee6;
  padding: 10px;
}
