@media (min-width: 991.98px) {
  .modal-lg,
.modal-xl {
    max-width: 630px;
  }

  .g-sidenav-pinned .sidenav#sidenav-main {
    min-width: 288px;
    max-width: 288px;
  }
  .g-sidenav-pinned .main-content#panel {
    margin-left: 288px;
  }
}
@media screen and (max-width: 991.98px) {
  header.header {
    max-height: 150px;
    min-height: 150px;
  }

  .page-content {
    margin-top: -150px;
  }
  .page-content .padding--big,
.page-content .padding--small,
.page-content .padding--medium {
    padding: 1.5rem 1rem;
  }
}
@media screen and (max-width: 767.98px) {
  html {
    font-size: 14px;
  }

  .page-content #pengumuman .carousel-inner img {
    min-height: 150px;
  }
  .page-content .form-input .form-group {
    padding: 0;
  }
  .page-content .form-input .form-group:nth-child(odd) {
    padding-left: 0;
    padding-right: 0;
  }
  .page-content .form-input .form-group:nth-child(even) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 16px;
  }
  .page-content input[type=date]::-webkit-inner-spin-button,
.page-content input[type=date]::-webkit-calendar-picker-indicator {
    width: 38px;
  }
  .page-content .form-select .form-group:nth-child(odd) {
    padding: 0;
  }
  .page-content .form-select .form-group:nth-child(even) {
    padding: 0;
  }

  #tahapan .card-form .form-group:first-child, #tahapan .card-form .form-group:nth-child(2), #tahapan .card-form .form-group:last-child {
    padding: 0;
  }

  .register_page .input-foto-siswa {
    min-height: 130px;
  }

  .login_page .card .card-body,
.register_page .card .card-body,
.pmbGenerateVA_page .card .card-body {
    padding: 1.5rem 1rem;
  }
}
@media screen and (max-width: 750px) {
  .page-content #pengumuman .carousel-inner img {
    min-height: 120px;
  }
  .page-content #piechart h1 {
    margin-bottom: 0;
  }
  .page-content #piechart .data-piechart {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
  }
}
@media screen and (max-width: 575.98px) {
  html {
    font-size: 12px;
  }

  .login_page .logo,
.register_page .logo,
.pmbGenerateVA_page .logo {
    width: 20%;
  }
}
